<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.adviser">
    <!-- 권한 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".activity_login_join.KakaoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ADVISER"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".alarm.UserAlarm"
            android:exported="false" />
        <activity
            android:name=".guide.AppGuideUserActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".kakaomap.MapUserPhActivity"
            android:exported="false"
            android:label="MapUserPhActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:configChanges" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthCustomTabActivity"
            android:exported="false" />
        <activity
            android:name=".activity_medicmain.ExchangeMedicActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity_medicmain.MypageMedicActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".qna.AnswerMedicActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity_medicmain.MainMedicActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".guide.AppGuideActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".qna.AnswerUserActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".payment.PaymentActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".qna.QuesitonUserActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity_usermain.QnAListUserActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".alarm.AlarmActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".kakaomap.MapUserActivity"
            android:exported="false"
            android:label="MapUserActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity_usermain.MypageUserActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity_usermain.MainUserActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity_login_join.MedicalSingWaitingActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity_login_join.AdressSearchActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity_login_join.MedicalLoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity_login_join.UserLoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity_intro.ResultExperienceActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity_login_join.JoinActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity_login_join.LoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity_intro.ExperienceActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity_intro.Example"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity_intro.SetPermissionsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity_intro.StartingActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao0cd4e8952c64ec8738ad11695dcadac5" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="0cd4e8952c64ec8738ad11695dcadac5" />
    </application>

</manifest>